#accordion{
text-align:center;
margin-left:25%;
margin-right:25%;
margin-top:5%;
}

#allInstitutes{
text-align:center;
margin-top:5%;
margin-left:5%;
}

#allChoosings{
text-align:center;
margin-top:5%;
}

#allRooms{
text-align:center;
margin-top:5%;
}

.choosings{
	font-size: 250%;
	font-family: arial;	
	text-align: center;
	color:black;
	box-shadow: 10px 10px 8px black;
	border-style: solid;
	border-color:black;
	border-width:2px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	padding:5px;
}

#collapse{
	font-size:130%;
}

#description{
	font-size:100%;
	height:50%;
	font-weight:bold;
}

#flag{
	height:60px;
	width:100px;
}

#floor{
	font-size:2em;
	font-weight:bold;
	margin-bottom:0%;
}

#foreground{
	background-color:blue;
	background-repeat:repeat;
}

#home_button{
	position:absolute;
	left:1%;
	width:90%;
}

#institutetitle{
	position: absolute;
	top:150px;
	left:7%;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	font-family: arial;
	color:black;
}

#map{
	position:absolute;
	margin-top:-1%;
	left:4%;
	width:50%;
}

.footer-wrapper {
position: absolute;
bottom: 0px;
width: 100%;
}

#myTab{
text-align:center;
}

#myTabCenter{
position:absolute;
left:30%;
top:1%;
display:none;
}

#name{
	font-size:200%;
	font-weight:bold;
	text-align:center;
}

#navbarContent{
	font-style:arial; 
	font-size:15px;
}

#navbarStartpage{
	position:absolute;
	top:8%;
	font-size:40px; 
	width:300px;
	color:black;
	font-weight: bold;

}

#navbarSupport{
	font-size:40px; 
	position:absolute; 
	top:8%;
	left:37%;
	color:black;
	font-weight: bold;
}


.ui-layout-east, .ui-layout-pane, .ui-layout-pane-east, .ui-layout-center, .ui-layout-pane-center, .ui-layout-west, .ui-layout-pane-west{

    overflow:hidden !important;
}

.ui-page{
    min-height:1360px !important;
    
    overflow:hidden !important;
}

body{
 min-height:1360px !important;
    overflow:hidden !important;
}

html{
    overflow-y:hidden !important;
}


#photo{
	position:absolute;
	margin-top:5%;
	left:6%;
	width:90%;
}

#stafflist{
	margin-top:10%;
}

#textparts{
	position:absolute;
	top:80px;
	right:5%;		
}

#textparts_de{
	position:absolute;
	font-size:75%;
	top:80px;
	right:5%;		
}


#subtitle_en{
	position:absolute;
	top:20%;
	font:arial;
	font-size:40px;
	color:green;
	margin-left:10%;
	margin-right:10%;
}
#subtitle_de{
	position:absolute;
	top:20%;
	font:arial;
	font-size:40px;
	color:green;
	margin-left:10%;
	margin-right:10%;
}

#tabs{
	position:absolute;
	top:610px;
}

#title{
	font-weight:bold;
	text-align:center;
	font:arial;
	font-size:50px;
	color:green;
}

#buttonSupport{
	position:absolute;
	left:15%;
	top:10%;	
}

#buttonHome{
	position:absolute;
	left:1%;
	top:10%;	
}



